header {
  margin-inline: auto;
  padding: 20px;
  max-width: 400px;
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & a {
      padding: 15px 20px;
      background-color: var(--pink-dark);
      border-radius: 8px;
      font: 700 14px/1rem var(--ff-raleway);
    }
  }
}

@media screen and (width > 80rem) {
  header {
    max-width: 1120px;
    margin-inline: auto;
    padding-inline: 10rem;
    padding-top: 3.5rem;
  }
  .mobile-only {
    display: none;
  }
  .desktop-only {
    display: inline-block;
  }
}
