#oferta {
  margin-top: 104px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .container-oferta {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    gap: 12px;
    img {
      width: 20px;
    }
    h2 {
      font-size: 24px;
    }
  }
  span {
    text-align: center;
    font-size: 14px;
    font-weight: 300;
  }
  .book {
    margin-top: 117.7px;
    img {
      width: 157.19px;
    }
  }
}

@media screen and (width > 80rem) {
  #oferta {
    margin-top: 235px;
    .container-oferta {
      img {
        width: 32px;
      }
      h2 {
        font-size: 32px;
      }
    }
    span {
      font-size: 1rem;
    }
    .book {
      img {
        width: 467px;
      }
    }
  }
}
